<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hodlon is a web3 buidler with experience scaling teams, launching new products and engaging with online and IRL communities. </p>
      </div>
      <div class="col-lg-4">
        <p>From Bitcoin to Ethereum and all that distributed systems and cryptography has to offer, Hodlon is excited to be contributing to the future of the internet. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://hodlon.art/" class="btn btn-lg btn-outline">
          <i class="fa fa-newspaper-o"></i> Blog (coming soon)
        </a>
      </div>
    </div>
  </div>
</section>
